{% extends "base.html" %}
{% block content %}
<h1> Text-Corpus Tokenizer ({{ filename }})</h1>
<h2> For: {{ n_gram }} gram</h2>

{% if sentence %}
  <h4>{{ sentence["sentence"] }}</h4>
  <p style="color:red; font-weight:bold;">after {{ sentence["failures"] }} failures</p>
{% endif %}

<table class="sortable">
  <tr>
    <th>Token</th>
    <th>Frequency</th>
    <th>Prob (&lt;/s&gt; | :token:) = #(:token: &lt;/s&gt;) / #(:token:)</th>
  </tr>
  {% for (row, temp) in result %}
    <tr>
      <td>{{ row["token"] }}</td>
      <td>{{ row["freq"] }}</td>
      <td>{{ row["probablity_ending"] }}</td>
    </tr>
  {% endfor %}
</table>
{% endblock %}
