{% extends "base.html" %}
{% block content %}
<h1> Twitter Tokenizer ({{ filename }})</h1>
<table>
  <tr>
    <th>Tweet</th>
    <th>Glyphs</th>
    <th>Handles</th>
    <th>Emails</th>
    <th>Hashtags</th>
    <th>URLs</th>
    <th>Other Unicodes</th>
  </tr>
  {% for t in tweets %}
    <tr>
      <td>{{ t.tweet }}</td>
      <td>{% for glyp in t.glyphs %} {{ glyp }} {% endfor %}</td>
      <td><pre>{% for handle in t.handles %}{{ handle + "\n" }}{% endfor %}</pre></td>
      <td><pre>{% for email in t.emails %}{{ email + "\n" }}{% endfor %}</pre></td>
      <td><pre>{% for hashtag in t.hashtags %}{{ hashtag + "\n"}}{% endfor %}</pre></td>
      <td><pre>{% for url in t.urls %}{{ url + "\n" }}{% endfor %}</pre></td>
      <td>{% for unicode in t.unicodes %} {{ unicode }} {% endfor %}</td>
    </tr>
  {% endfor %}
</table>
{% endblock %}
